
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  padding: 15px 30px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover,
.active {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003366;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-content li {
  margin: 5px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home {
  padding: 40px;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.product-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 180px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


.content {
  padding: 40px;
  text-align: center;
}